body {
    font-family: cursive;
    text-align: center;
    color: rgb(0, 83, 155);
}

table {     
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    text-align: left;
    border-collapse: collapse; 
    width:100%;
    border: 3px solid green;
}

td {
    padding: 8px;     
    background: #e8edff;     
    border-bottom: 1px solid #fff;
    color: rgb(36, 36, 78);    
    border-top: 1px solid transparent; 
    border-radius: 10px; 
}
    
.acciones img{
        width: 30px;
        height: 30px;
        padding: 3%;    
        margin-left: 10%;
}
.vende_enca td{
    padding: 10px;
    border: #000000;
    font-weight:bold;
    font-size:1.3em;
    border: 3px solid green;
}

tr:hover td { 
    background: #d0dafd; 
    color: rgb(56, 56, 253); 
}
ul{
    text-align: right;
   
}
ul img{
    text-align: right;
    width: 80px;
    height: 80px;
    margin-right: 40px;
    margin-top: -20px;

}