.autores{
    margin-left: 75px;
}


.teddy .eddy{
    text-align: center;
    margin-top: 40px;
    margin-left: 40px;
    
  }
  
.eddy img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    padding: 3px;
    background: #000000;
}
.eddy h3{
    margin-top: -2px;
    margin-left: 12px;
    font-family: cursive;
}
.eddy h5{
    color: antiquewhite;
}



.tdavid .david{
  text-align: center;
  margin-top: 40px;
  margin-left: 40px;
  
}
.david img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    padding: 3px;
    background: #000000;
}
.david h3{
    margin-top: -2px;
    margin-left: 12px;
    font-family: cursive;
}
.david h5{
    color: antiquewhite;
}

.tbryan .bryan{
  text-align: center;
  margin-top: 40px;
  margin-left: 40px;
  
}
.bryan img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    padding: 3px;
    background: #000000;
}
.bryan h3{
    margin-top: -2px;
    margin-left: 12px;
    font-family: cursive;
}
.bryan h5{
    color: antiquewhite;
}


.tgeovana .geovana{
  text-align: center;
  margin-top: 40px;
  margin-left: 40px;
  
}
.geovana img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    padding: 3px;
    background: #000000;
}
.geovana h3{
    margin-top: -2px;
    margin-left: 12px;
    font-family: cursive;
}
.geovana h5{
    color: antiquewhite;
}
